<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dinner and a Movie</title>
  <link rel="icon" type="image/x-icon" href="/public/images/favicon/favicon.ico">

  <link rel="stylesheet" type="text/css" href="stylesheets/reset.css"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/javascripts/movie_generator.js"></script>
  <script type="text/javascript" src="/javascripts/restaurant_generator.js"></script>
  <script type="text/javascript" src="/javascripts/render.js"></script>
</head>

<body>

  <div id="header">
    <img id="small_logo" src="images/mobile/logo_mobile.png" alt="dinner and a movie">
    <img id="large_logo" src="images/desktop/logo_desktop.png" alt="dinner and a movie">
    <h2>because decisions are hard</h2>
  </div>

  <div id="top_border"></div>

  <div id="loader_div" hidden="true">
    <div id="loader_container" hidden="true">
      <div id="loader_icon" hidden="true"></div>
    </div>
  </div>

    <div id="input_display">
      <div id="stream_service_selection">
        <legend>which streaming services are you subscribed to:</legend>

        <div id="service_buttons">

          <input type="checkbox" name="stream_service" id="netflix" value="netflix">
          <label for="netflix"></label>
          
          <input type="checkbox" name="stream_service" id="prime" value="prime">
          <label for="prime"></label>
          
          <input type="checkbox" name="stream_service" id="hbo" value="hbo">
          <label for="hbo"></label>
          
          <input type="checkbox" name="stream_service" id="hulu" value="hulu">
          <label for="hulu"></label>
          
          <input type="checkbox" name="stream_service" id="disney" value="disney">
          <label for="disney"></label>

        </div>

      </div>


      <div id="genre_selection">
        <legend>which movie genres are you interested in?</legend>

        <div id="genre_buttons">

          <input type="checkbox" name="genre" id="action" value="28">
          <label for="action"></label>

          <input type="checkbox" name="genre" id="drama" value="18">
          <label for="drama"></label>

          <input type="checkbox" name="genre" id="comedy" value="35">
          <label for="comedy"></label>

          <input type="checkbox" name="genre" id="horror" value="27">
          <label for="horror"></label>

          <input type="checkbox" name="genre" id="adventure" value="12">
          <label for="adventure"></label>

          <input type="checkbox" name="genre" id="thriller" value="53">
          <label for="thriller"></label>

        </div>
      </div>

      <div id="price_selection">
        <legend>how much do you want to spend on your food?</legend>

        <div id="price_buttons">
      
          <input type="checkbox" name="price" id="one" value="$">
          <label for="one"></label>
      
          <input type="checkbox" name="price" id="two" value="$$">
          <label for="two"></label>
      
          <input type="checkbox" name="price" id="three" value="$$$">
          <label for="three"></label>
        </div>
      </div>

      <div id="generate_button_div">
        <button id="generate_button" name="generate" value="generate">decide for me!</button>
      </div>
    </div>

    <div id="movie_div" hidden="true">
      <div id="movie_display" hidden="true">

        <p id="movie_title">14 Peaks: Nothing Is Impossible</p>

        <div id="movie_info">
          <img id="movie_picture" src="https://image.tmdb.org/t/p/original/saGMNCD6ayFqmOb9mX2MkkMmW7w.jpg"/>
          <p id="movie_description">
            In 2019, Nepalese mountain climber Nirmal “Nims” Purja set out to do the
            unthinkable by climbing the world’s fourteen highest summits in less than seven
            months. (The previous record was eight years). He called the effort “Project
            Possible 14/7” and saw it as a way to inspire others to strive for greater
            heights in any pursuit. The film follows his team as they seek to defy naysayers
            and push the limits of human endurance.
          </p>
        </div>

        <p id="movie_stream">Watch it on Netflix</p>

      </div>
    </div>

    <div id="restaurant_div" hidden="true">
      <div id="restaurant_display" hidden="true">
        <p id="restaurant_name">Thanh Long</p>

        <div id="restaurant_info">
          <img id="restaurant_picture" src="images/desktop/food_picture.webp" alt="dinner and a movie">

          <div id="restaurant_details">
            <p id="restaurant_cuisine">Cuisine: Seafood</p>
            <p id="restaurant_address">Address: 4101 Judah St, San Francisco, CA 94122-1124</p>
            <p id="restaurant_phone_number">Phone Number: +1 415-665-1146</p>
            <a id="restaurant_website" href="">Website</a>
          </div>

        </div>

        <p id="restaurant_enjoy">Bon Apetit!</p>
      </div>
    </div>

  <div id="again_button_div" hidden="true">
    <button id="again_button" name="again" value="again" hidden="true">again</button>
  </div>

  <div id="bottom_border"></div>

  <div id="footer">
    <ul>
      <li><a href="https://github.com/IanFarr" target="_blank">github</a></li>
      <li><a href="//ianfarr.dev" target="_blank">portfolio</a></li>
      <li><a href="https://www.linkedin.com/in/ian-farr/" target="_blank">LinkedIn</a></li>
    </ul>
  </div>

  <div id="load_images">
    <img src="images/mobile/hulu_button_mobile_checked.png">
    <img src="images/mobile/netflix_button_mobile_checked.png">
    <img src="images/mobile/disney_button_mobile_checked.png">
    <img src="images/mobile/hbo_button_mobile_checked.png">
    <img src="images/mobile/prime_button_mobile_checked.png">

    <img src="images/mobile/action_genre_button_mobile_checked.png">
    <img src="images/mobile/adventure_genre_button_mobile_checked.png">
    <img src="images/mobile/comedy_genre_button_mobile_checked.png">
    <img src="images/mobile/drama_genre_button_mobile_checked.png">
    <img src="images/mobile/horror_genre_button_mobile_checked.png">
    <img src="images/mobile/thriller_genre_button_mobile_checked.png">

    <img src="/images/mobile/one_price_button_mobile_checked.png">
    <img src="/images/mobile/two_price_button_mobile_checked.png">
    <img src="/images/mobile/three_price_button_mobile_checked.png">
  </div>

</body>

</html>