<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/reset.css"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/javascripts/movie_generator.js"></script>
  <script type="text/javascript" src="/javascripts/restaurant_generator.js"></script>
  <script type="text/javascript" src="/javascripts/render.js"></script>
</head>

<body>

  <div id="header">
    <img src="images/mobile/logo_test.png" alt="dinner and a movie">
    <h2>because decisions are hard</h2>
  </div>

    <div id="input_display">
      <div id="stream_service_selection">
        <legend>which streaming servicise are you subscribed to:</legend>

        <input type="checkbox" name="stream_service" id="netflix" value="netflix" checked="true">
        <label for="netflix"></label>

        <input type="checkbox" name="stream_service" id="prime" value="prime" checked="true">
        <label for="prime"></label>

        <input type="checkbox" name="stream_service" id="hbo" value="hbo" checked="true">
        <label for="hbo max"></label>

        <input type="checkbox" name="stream_service" id="hulu" value="hulu" checked="true">
        <label for="hulu"></label>

        <input type="checkbox" name="stream_service" id="disney" value="disney" checked="true">
        <label for="disney"></label>

      </div>


      <div id="genre_selection">
        <legend>which movie genres are you interested in?</legend>

        <div id="genre_buttons">

          <input type="checkbox" name="genre" id="action" value="28" checked="true">
          <label for="action"></label>

          <input type="checkbox" name="genre" id="drama" value="18" checked="true">
          <label for="drama"></label>

          <input type="checkbox" name="genre" id="comedy" value="35" checked="true">
          <label for="comedy"></label>

          <input type="checkbox" name="genre" id="horror" value="27" checked="true">
          <label for="horror"></label>

          <input type="checkbox" name="genre" id="adventure" value="12" checked="true">
          <label for="adventure"></label>

          <input type="checkbox" name="genre" id="thriller" value="53" checked="true">
          <label for="thriller"></label>

        </div>
      </div>

      <div id="price_selection">
        <legend>how much do you want to spend?</legend>

        <div id="price_buttons">
      
          <input type="checkbox" name="price" id="one" value="$" checked="true">
          <label for="$"></label>
      
          <input type="checkbox" name="price" id="two" value="$$" checked="true">
          <label for="$$"></label>
      
          <input type="checkbox" name="price" id="three" value="$$$" checked="true">
          <label for="$$$"></label>
        </div>
      </div>

      <button id="generate_button" name="generate" value="generate">generate</button>
    </div>

  <div id="movie_display" hidden="true">
    <p id="movie_title">14 Peaks: Nothing Is Impossible</p>
    <img id="movie_picture" src="https://image.tmdb.org/t/p/original/saGMNCD6ayFqmOb9mX2MkkMmW7w.jpg"
      alt="movie picture" width="270" height="400">
    <p id="movie_description">In 2019, Nepalese mountain climber Nirmal “Nims” Purja set out to do the
      unthinkable by climbing the world’s fourteen highest summits in less than seven
      months. (The previous record was eight years). He called the effort “Project
      Possible 14/7” and saw it as a way to inspire others to strive for greater
      heights in any pursuit. The film follows his team as they seek to defy naysayers
      and push the limits of human endurance.</p>
      <p id="movie_stream">14 Peaks: Nothing Is Impossible</p>
  </div>

  <div id="restaurant_display" hidden="true">
    <p id="restaurant_name">Thanh Long</p>
    <p id="restaurant_cuisine">Seafood</p>
    <p id="restaurant_address">4101 Judah St, San Francisco, CA 94122-1124</p>
    <p id="restaurant_phone_number">+1 415-665-1146</p>
    <p id="restaurant_website">http://www.houseofan.com</p>
  </div>

  <button id="again_button" name="again" value="again" hidden="true">again</button>

  <div id="footer">
    <ul>
      <li><a href="#">github</a></li>
      <li><a href="#">portfolio</a></li>
      <li><a href="#">email</a></li>
    </ul>
  </div>

</body>

</html>