html {

  background: rgb(255,17,252);
  background: linear-gradient(126deg, rgba(255,17,252,1) 0%, rgba(210,17,255,1) 40%, rgba(142,17,255,1) 100%);

}

#header {
  margin-top: 40px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#header img {
  width: 475px;
  margin-top: 40px;
}

#header #large_logo {
  display: none;
}

#header h2 {
  margin-top: 15px;
  font-family: Helvetica;
  font-weight: 600;
  font-size: 22px;
  text-shadow: 1px 1px #000;
}

#top_border {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  border-top: 1.5px solid #fff;;
}

legend {
  font-family: Helvetica;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 40px;
}

#input_display {
  color: white;
}


/* service selection */

#stream_service_selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#service_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 70%;
}

#stream_service_selection input[type="checkbox"] {
	display:none;
}

#stream_service_selection label {
	width: 350px;
	height: 88px;
	cursor: pointer;
  margin: 8px;
}

#stream_service_selection #netflix + label {
	background-image: url(../images/mobile/netflix_button_mobile.png);
}

#stream_service_selection #prime + label {
	background-image: url(../images/mobile/prime_button_mobile.png);
}

#stream_service_selection #hbo + label {
	background-image: url(../images/mobile/hbo_button_mobile.png);
}

#stream_service_selection #hulu + label {
	background-image: url(../images/mobile/hulu_button_mobile.png);
}

#stream_service_selection #disney + label {
	background-image: url(../images/mobile/disney_button_mobile.png);
}




#stream_service_selection #netflix[type="checkbox"]:checked + label {
	background-image: url(../images/mobile/netflix_button_mobile_checked.png);
}

#stream_service_selection #prime[type="checkbox"]:checked + label {
	background-image: url(../images/mobile/prime_button_mobile_checked.png);
}

#stream_service_selection #hbo[type="checkbox"]:checked + label {
	background-image: url(../images/mobile/hbo_button_mobile_checked.png);
}

#stream_service_selection #hulu[type="checkbox"]:checked + label {
	background-image: url(../images/mobile/hulu_button_mobile_checked.png);
}

#stream_service_selection #disney[type="checkbox"]:checked + label {
	background-image: url(../images/mobile/disney_button_mobile_checked.png);
}


/* genre selection */

#genre_selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#genre_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 90%;
}

#genre_buttons input[type="checkbox"] {
	display:none;
}

#genre_buttons label {
	width: 172px;
	height: 40px;
	cursor: pointer;
  margin: 8px;
}

#genre_buttons #action + label {
	background-image: url(../images/mobile/action_genre_button_mobile.png);
}

#genre_buttons #drama + label {
	background-image: url(../images/mobile/drama_genre_button_mobile.png);
}

#genre_buttons #comedy + label {
	background-image: url(../images/mobile/comedy_genre_button_mobile.png);
}

#genre_buttons #horror + label {
	background-image: url(../images/mobile/horror_genre_button_mobile.png);
}

#genre_buttons #adventure + label {
	background-image: url(../images/mobile/adventure_genre_button_mobile.png);
}

#genre_buttons #thriller + label {
	background-image: url(../images/mobile/thriller_genre_button_mobile.png);
}



#genre_buttons #action[type="checkbox"]:checked + label {
	background-image: url(../images/mobile/action_genre_button_mobile_checked.png);
}

#genre_buttons #drama[type="checkbox"]:checked + label {
	background-image: url(../images/mobile/drama_genre_button_mobile_checked.png);
}

#genre_buttons #comedy[type="checkbox"]:checked + label {
	background-image: url(../images/mobile/comedy_genre_button_mobile_checked.png);
}

#genre_buttons #horror[type="checkbox"]:checked + label {
	background-image: url(../images/mobile/horror_genre_button_mobile_checked.png);
}

#genre_buttons #adventure[type="checkbox"]:checked + label {
	background-image: url(../images/mobile/adventure_genre_button_mobile_checked.png);
}

#genre_buttons #thriller[type="checkbox"]:checked + label {
	background-image: url(../images/mobile/thriller_genre_button_mobile_checked.png);
}


/* price selection */

#price_selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#price_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#price_buttons input[type="checkbox"] {
	display:none;
}

#price_buttons label {
	width: 80px;
	height: 80px;
	cursor: pointer;
  margin: 8px;
}

#price_buttons #one + label {
	background-image: url(../images/mobile/one_price_button_mobile.png);
}

#price_buttons #two + label {
	background-image: url(../images/mobile/two_price_button_mobile.png);
}

#price_buttons #three + label {
	background-image: url(../images/mobile/three_price_button_mobile.png);
}



#price_buttons #one[type="checkbox"]:checked + label {
	background-image: url(../images/mobile/one_price_button_mobile_checked.png);
}

#price_buttons #two[type="checkbox"]:checked + label {
	background-image: url(../images/mobile/two_price_button_mobile_checked.png);
}

#price_buttons #three[type="checkbox"]:checked + label {
	background-image: url(../images/mobile/three_price_button_mobile_checked.png);
}


/* generate button */

#generate_button_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

#generate_button_div button {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  box-shadow: 0;
  background-color: #6A3C7F;
  padding: 10px 50px 10px 50px;

  transition-duration: 0.4s;
}

#generate_button_div button:hover {
  background: transparent;
  background-color: #8D00CC;
  cursor: pointer;
}


/* footer */

#bottom_border {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  border-top: 2px solid #fff;
}

#footer {
  margin: 30px;
}

#footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#footer ul {
  list-style-type: none;
  padding: 0;
}

#footer ul a {
  color: #fff;
  font-family: helvetica;
  font-size: 14px;
  margin: 10px;
  text-decoration: none;
}


/* ------------------------------------- */
/* results display */
/* ------------------------------------- */

/* movie display */

#movie_div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

#movie_display {
  justify-content: center;
  width: 400px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background: rgba(255, 255, 255, .95);
  font-family: helvetica;
  color: #404040;
}

#movie_title {
  padding: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  background-color: #4E4D59;
  color: #fff;
  font-weight: 100;
}

#movie_picture {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}

#movie_description {
  margin: 30px;
  line-height: 1.2;
  text-align: justify;
  border-top: solid 1px #404040;
  padding-top: 20px;
}

#movie_stream {
  margin: 15px;
  text-align: center;
  font-size: 22px;
}


/* restaurant display */


#restaurant_div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#restaurant_display {
  justify-content: center;
  width: 400px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background: rgba(255, 255, 255, .95);
  font-family: helvetica;
  color: #404040;
}

#restaurant_name {
  padding: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  background-color: #4E4D59;
  color: #fff;
  font-weight: 100;
}

#restaurant_picture {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

#restaurant_cuisine {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

#restaurant_address {
  margin-left: 30px;
  margin-right: 30px;
}

#restaurant_phone_number {
  margin-left: 30px;
  margin-right: 30px;
}

#restaurant_website {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

#restaurant_enjoy {
  margin: 15px;
  text-align: center;
  font-size: 22px;
}


/* again button */

#again_button_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

#again_button_div button {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  box-shadow: 0;
  background-color: #6A3C7F;
  padding: 10px 50px 10px 50px;

  transition-duration: 0.4s;
}

#again_button_div button:hover {
  background: transparent;
  background-color: #8D00CC;
  cursor: pointer;
}




/* tablet version */

@media only screen and (min-width: 600px) {

  #genre_buttons {
  max-width: 70%;
}

}

/* desktop version */

@media only screen and (min-width: 1000px) {

  #genre_buttons {
  max-width: 50%;
}

legend {
  font-size: 28px;
}

#header #small_logo {
  display: none;
}

#header #large_logo {
  display: block;
  width: 700px;
}

#header h2 {
  font-size: 28px;
}

/* movie display */

#movie_div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-right: 10%;
  margin-left: auto;
}

#movie_display {
  justify-content: center;
  width: 800px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background: rgba(255, 255, 255, .95);
  font-family: helvetica;
  color: #404040;
}

#movie_info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  margin-top: 20px;
}

#movie_description {
  border: none;
  margin-left: 50px;
}

/* restaurant display */

#restaurant_div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: auto;
}

#restaurant_display {
  justify-content: center;
  width: 800px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background: rgba(255, 255, 255, .95);
  font-family: helvetica;
  color: #404040;
}

#restaurant_info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  margin-top: 20px;
  margin-left: 50px;
}

}