html {

  background: rgb(255,17,252);
  background: linear-gradient(126deg, rgba(255,17,252,1) 0%, rgba(210,17,255,1) 24%, rgba(142,17,255,1) 100%);

}

#header {
  margin-top: 60px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#header img {
  width: 350px;
}

#header h2 {
  margin-top: -35px;
  font-family: Helvetica;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 1px 1px #000;
}

legend {
  font-family: Helvetica;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}

#input_display {
  color: white;
}

#stream_service_selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stream_service_selection input[type="checkbox"] {
	display:none;
}

#stream_service_selection label {
	width: 400px;
	height: 146px;
	cursor: pointer;
  margin: 8px;
}

#stream_service_selection #netflix + label {
	background-image: url(../images/mobile/netflix_button_mobile.png);
}

#stream_service_selection #prime + label {
	background-image: url(../images/mobile/prime_button_mobile.png);
}